@model NvsLesson07.Models.NvsEmployee

@{
    ViewData["Title"] = "NvsDetails";
}

<h1>NvsDetails</h1>

<div>
    <h4>NvsEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
