@model NguyenVanSon_2310900090.Models.NvsEmployee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NvsEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsEmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsEmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsEmpLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsEmpLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsEmpStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsEmpStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvsEmpStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvsEmpStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NvsEmpId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="NvsIndex">Back to List</a>
    </form>
</div>
